@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url('fonts/GlacialIndifference-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#calendar {
    display: inline-block;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
}

#buttons-container {
    float: right;
    padding-bottom: 10px;
}

.calendarREV2Header {
    font-size: 16px;
    font-weight: 600;
}

.cc-day {
    /*width: 50px;
    height: 50px;*/
    width: 74px;
    height: 72px;
    /*text-align: center;*/
    position: relative;
    border: 1px solid #ececec;
}

.cc-past-day {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

.cc-day-number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: small;
}

.cc-event-day{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    background-color: #1AB7EA;
}

.day-headers th {
    border: 1px solid #ececec;
    text-align: center;
}


/*.custom-calendar-btn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #000000;
  font-size: 100%;
  padding: 4px 7px 5px 7px;
  border: solid #000000 1px;
  text-decoration: none;
  font-weight: 700;
}

.custom-calendar-btn:hover {
  background: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2);
  background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2);
  background-image: -ms-linear-gradient(top, #f2f2f2, #f2f2f2);
  background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2);
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  text-decoration: none;
}*/

.custom-calendar-btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 7px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.custom-calendar-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

.custom-calendar-btn:active {
    position: relative;
    top: 1px;
}

.custom-calendar-btn.previous {
    margin-right: 5px;
}

.custom-calendar-btn.previous:after {
    content: '\02039';
}

.custom-calendar-btn.today {
    margin-right: 5px;
}

.custom-calendar-btn.next:after {
    content: '\0203A';
}

table.nospacing {
    border-spacing: 0;
    width: 100%;
}

table.nospacing th,
td {
    padding: 0;
}
